.buttonAction h3 {
  border: 2px solid #fff;
  width: 125px;
  margin: auto;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
}

.caruoselImage {
  width: 100%;
  height: 100%;
}

.customTag {
  max-width: 200%;
  height: 790px;
  background: black;
}

.imagenHome {
  width: 50%;
  height: 100%;
}

.containerHomeimageText {
  display: flex;
  height: 600px;
}
.textHome {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imageHome {
  height: 70px;
  width: 70px;
}
.button {
  border: none;
  background-color: #fff;
}
.title {
  font-size: 20px;
  font-weight: bold;
  font-weight: 400;
}

.rombo {
  width: 16px;
  background: #fff;
  height: 16px;
  position: absolute;
  right: 49.4%;
  transform: rotate(45deg);
}
.containerCollage {
  width: 600px;
  height: 400px;
  flex-wrap: wrap;
  margin: auto;
  box-sizing: content-box;
}
.collageImage {
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
}
.collageNET {
  text-align: center;
  line-height: 0.5;
  margin: 100px;

  .titleNet {
    opacity: 0.5;
    font-weight: 30;
    padding: 0;
  }
  .titleEspufi {
    font-weight: bolder;
    font-size: 40px;
    font-weight: 30;
  }
}
.collageform {
  text-align: center;
  line-height: 1.5;
  margin: 100px;

  .newsLetter {
    opacity: 0.5;
    margin: 0;
  }
  .titleSuscription {
    margin: 0;
    padding: 0;
    font-size: 45px;
  }
  .suscribeNesletter {
    padding: 0;
    font-size: 17px;
  }
}

.containerForm {
  position: relative;
  display: inline-block;
  width: 600px;
}

.inputContact {
  width: 100%;
  padding: 10px 15px;
}

.inputContact::placeholder {
  font-weight: bold;
  font-size: 14px;
}

.buttonSubmit {
  border: none;
  background: none;
  position: absolute;
  right: 0;
  padding: 10px 15px;

  svg {
    height: 25px;
    width: 25px;
  }
}
