.container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  width: 100%;
  color: #fff;
  margin-top: 23px;
  padding: 0px 41px;
}
.containerOptions {
  display: flex;
  justify-content: center;
}

.containerOptions div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
}

.containerOptions div p{
  margin: 0;
}

.containerOptions div:nth-child(-n + 3) {
  border-right: 1px solid rgb(244, 227, 227);
}
.containerOptions svg {
  height: 25px;
  width: 25px;
}
.containerAccount {
  display: flex;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}
.containerAccount p:nth-child(1) {
  border-right: 1px solid rgb(250, 241, 241);
}
p {
  padding: 10px;
}
